*{ box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*='col-'] {
    box-sizing: border-box;
    border: 1px solid;
    float: left;
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.wrapper{
    height: auto;
    width: 100% ;
    margin:0px;
}

.header-top-height{ height: 30px;}
.header-height{ height: 200px;}
.menu-height{ height: 50px;}
.content-height{ height: 300px;}
.big-footer-height{ height: 200px;}
.footer-height {height: 30px;}

.main-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.main-ul li{
    float: left;
    width: 120px;
    border: 1px solid gray;
}

.main-ul li a{
    border: 1px solid;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 47px;
    padding-top: 15px;
    background-color: black;
    color: white;
    transition: 1s;
}

.main-ul li a:hover{
    background-color: white;
    color: black;
}

/*.div-one{*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: red;*/
/*    margin: 50px 0px 0px 50px;*/
/*    border-radius: 0px 0px 0px 0px;*/
/*    transform: skewY(25deg);*/
/*    float: left;*/
/*}*/

/*.div-two{*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: red;*/
/*    margin: 50px 0px 0px 5px;*/
/*    border-radius: 0px 0px 0px 0px;*/
/*    transform: skewY(-25deg);*/
/*    float: left;*/
/*}*/

/*.div-one{*/
/*    height: 200px;*/
/*    width: 20px;*/
/*    background-color: red;*/
/*    margin: 50px 0px 0px 50px;*/
/*    transform: skew(-30deg);*/
/*    float: left;*/
/*}*/

/*.div-two{*/
/*    height: 200px;*/
/*    width: 20px;*/
/*    background-color: red;*/
/*    margin: 50px 0px 0px 110px;*/
/*    transform: skew(30deg);*/
/*    float: left;*/
/*}*/

.div-one {
    height: 200px;
    width: 200px;
    /*background-color: red;*/
    margin: 50px 0px 0px 50px;
    float: left;
    animation: bitm;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*background: linear-gradient(to bottom, red, green);*/
    /*transform: rotateY(0deg);*/
    /*transition: 1s;*/
}

@keyframes bitm {
    0% {background: url("../images/10891815_10153148367455373_1301829043596123354_n.jpg");}
    25% { background: url("../images/12321401_596797757149741_6637426783109097863_n.jpg");}
    50% { background: url("../images/13620892_1152979834769070_6333140167336531791_n.jpg");}
    75% { background: url("../images/14171190344451.jpg");}
    100% { background: url("../images/Screenshot_1.jpg");}

}

.div-one:hover{
    /*transform: rotateY(90deg);*/
}
